<table data-uri="{{ uri }}" data-alias="{{ table.alias }}" data-options="{{ table.options|json_encode }}" class="table datatable" role="grid">
    <thead>
        {% include '@Datatables/Datatables/default_table_header.html.twig' %}
    </thead>
    <tbody>
        <!--- data be here --->
    </tbody>
</table>
